/* SignupForm.css */

.signup-container {
    background: linear-gradient(to bottom, #7EC585, #4B975B);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
  }
  
  .signup-box {
    background: white;
    border-radius: 12px;
    width: 450px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-tabs {
    display: flex;
    margin-bottom: 20px;
  }
  
  .signup-tab {
    flex: 1;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    background: #ccc;
    font-weight: bold;
    color: #333;
  }
  
  .signup-tab.active {
    background: #0a581b;
    color: white;
  }
  
  .signup-logo {
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }
  
  .signup-logo img {
    width: 100px;
  }
  
  .signup-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;

  }
  
  .form-row {
    display: flex;
    gap: 10px;
  }
  
  .form-group label {
    font-size: 12px;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .signup-button {
    margin-top: 10px;
    padding: 12px;
    background-color: #ccc;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .signup-button:hover {
    background-color: #bbb;
  }
  